.text-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.darkBG {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.dropdown-header {
  justify-content: space-between;
}

.dropdown-body {
  /* margin-top: 10px; */
  /* padding: 5px; */
  border-top: 1px solid #E5E8EC;
  display: none;
  width: 700px;
  position: absolute;
}

.dropdown-body.open {
  display: block;
}

.dropdown-item {
  padding: 5px;
}

.dropdown-item:hover {
  cursor: pointer;
}

.icon {
  font-size: 13px;
  color: #91A5BE;
  transform: rotate(0deg);
  transition: all .2s ease-in-out;
}

.icon.open {
  transform: rotate(90deg);
}

.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
